@model MVCProjektData.AccountClass

@{
    ViewBag.Title = "DeleteUser";
}

<h2>DeleteUser</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AccountClass</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
@{
    var ajaxOptions = new AjaxOptions
    {
        Confirm = " Are you sure?",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "replace"
    };
}
@using (Ajax.BeginForm("DeleteUser", ajaxOptions))
{
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
        <div id="result"></div>
    }
</div>
