@model MVC_1.Models.MyModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@*Måste ha för att kunna tillåta den att ladda upp filer*@
@using (Html.BeginForm(
            "Create",
            "Home",
            FormMethod.Post,
            new { enctype = "multipart/form-data" }))


{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MyModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @*@Html.LabelFor(Model => Model.Name, htmlAttributes: new { @class = "Control-label col-md-2" })*@
            <div class="form-group">
                <label class="control-label col-md-2" for="Photo">Photo</label>
                <div class="col-md-10">
                    <input type="file" name="file" id="file" />
                           @Html.ValidationMessage("error")
                </div>
            </div>

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
