@model MVC_1.Models.MyModel

@{
    ViewBag.Title = "NewComment";
}

<h2>NewComment</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <img src="~/Pictures/@Model.ImgName" />
    <div class="form-horizontal">
        <input type="text" name="Commentbox" id="CommentPhoto" />
        <input type="submit" value="Adding" class="btn btn-default" />
        @Html.ActionLink("Picture", "Pictures")
    </div>
}
